<h2 style="color: rgb(255, 255, 255);">{{ title }}</h2>
<div class="grid-container">
  <ul>
    <li class="grid-item" *ngFor="let bronik of bronikList">
      <img [src]="bronik.img" alt="Bronik Image">
      <div>Name: {{ bronik.name }}</div>
      <div>Protection Class: {{ bronik.protectionclass }}</div>
      <div>Description: {{ bronik.description }}</div>
      <div>Number: {{ bronik.number }}</div>
      <div>Status: {{ bronik.status }}</div>
      <button style="background-color: red;" (click)="deleteBronik(bronik)">Delete</button>
      <button style="background-color: rgb(170, 219, 23);" (click)="onSelect(bronik)">Edit</button>
    </li>
  </ul>
</div>

<button class="add-button" (click)="showAddForm = !showAddForm">Add Bronik</button>
<form *ngIf="showAddForm" #form1="ngForm" (ngSubmit)="addBronik(form1.value)" class="bronik-form">
  <input type="text" name="name" placeholder="Name" ngModel required><br><br>
  <input type="text" name="protectionclass" placeholder="Protection Class" ngModel required><br><br>
  <textarea name="description" placeholder="Description" ngModel required></textarea><br><br>
  <input type="text" name="img" placeholder="Image URL" ngModel><br><br>
  <input type="number" name="number" placeholder="Number" ngModel required><br><br>
  <select name="status" ngModel required>
    <option value="available">Available</option>
    <option value="not">Not Available</option>
  </select><br><br>
  <button type="submit">Add Bronik</button>
</form>

<div>
  <app-update [bronik]="selectedBronik" (updated)="updateBroniks()"></app-update>
</div>
