/* update-bronik.css */

/* Стилі для форми оновлення бронежилета */
.update-bronik-form {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    color: #2c3e50;
  }
  
  input[type="text"],
  textarea,
  input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* Зміщуємо кнопку вниз */
  }
  
  button:hover {
    background-color: #2980b9;
  }
  