/* main.css */

/* Стилі для контейнера */
.container {
  background-image: url(https://tk.ua/media/cache/resolve/products_large/uploads/images/products/dAizGdOsMcEV2Z0jd1NynQ.jpg);
  padding: 0px;
  border-radius: 5px;
  color: #000000;
  background-size: cover;
  background-attachment: fixed; /* Додано background-attachment: fixed */
}

/* Стилі для верхньої та нижньої меж */
.top-border, .bottom-border {
  border-bottom: 2px solid #bdc3c7;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 20px;
  background-image: url(https://avtoplenki.ua/images/product_images/info_images/5966_0.jpg);
  text-align: center;
}

/* Стилі для заголовка */
h1 {
  color: #ffffff;
  text-align: center;
  font-size: 4em;
}


/* Стилі для контактної інформації */
.bottom-border p {
  margin: 5px 0;
  color: #ffffff;
}

/* Стилі для вкладених рядочків */
.router-outlet, app-list {
  margin-top: 20px;
}

/* Стилі для зображень в списку */
app-list img {
  max-width: 200px;
}