.container {
    margin: 10px;
    background-color: #483C32; /* Колір камуфляжу (піксель) */
    color: #FFFFFF; /* Білий текст */
    font-family: Arial, sans-serif; /* Шрифт Arial або інший санс-сериф шрифт */
    padding: 10px; /* Відступ всередині контейнера */
}

.top-border, .bottom-border {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 10px; /* Відступи від тексту до верхньої та нижньої рамки */
    background-color: #483C32; /* Колір камуфляжу (піксель) */
    background-image: url('https://avtoplenki.ua/images/product_images/info_images/5966_0.jpg'); /* Замініть 'link_to_your_pixel_image' на посилання на ваше зображення пікселя */
}

.bottom-border {
    border-top: 0px solid white; /* Біла рамка зверху */
    text-align: center;
    border-top: 0px solid white; /* Біла рамка зверху */
}
